body {
    margin: 4%;
    font-family: sans-serif;
}
.toDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
.toDoItem{
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
}
button{
    margin-left: 1%;
    align-self: center;
}
.taskInput{
    display: none;
}

.saveButton{
    display: none;
}